@media(min-width: 480px){}
@media(min-width: 480px){}
.orders-list.svelte-bmc2n1{border:5px solid lightblue;border-radius:10px}.order.svelte-bmc2n1{border-bottom:1px solid lightgray;padding:15px}
@media(min-width: 480px){}
h5.svelte-f1p3m9{text-align:center;margin:0 auto}@media(min-width: 480px){h5.svelte-f1p3m9{font-size:2em}}
