.order-header.svelte-1l9rhk{text-align:left;padding:10px;font-size:18px}.amount.svelte-1l9rhk{text-align:right;float:right}
.tip-container.svelte-1u1jeo6{text-align:center;padding:10px}.event-time.svelte-1u1jeo6{padding:10px;text-align:left}
.orders-list.svelte-1f43i3a{box-shadow:0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%)}.order.svelte-1f43i3a{border-bottom:1px solid lightgray;padding:15px}
@media(min-width: 480px){}
@media(min-width: 480px){}
